body {
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif
}

.avatar {
    width: 150px;
    box-shadow: 10px #326771;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #42D9C8;
    color: #28464B;
    border-bottom: 6px solid #931621;

}

.card:hover {
    color: #931621;
    font-size: 20px;
}

.border-blue {
    border: 1px dotted 931621;
}

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

/*
Final challenge:
Download the code to your local computer and place it
in a folder called "business-card"
*/
